:root {
  color-scheme: light dark;
  --canvas: #fff;
  --canvas-text: #444;
  --color-link: #429131;
  --emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  --serif: Palatino, serif, var(--emoji);
  --sans-serif: "Segoe UI", "Yu Gothic Medium", system-ui, "HiraginoSans", sans-serif, var(--emoji);
  --monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace, var(--emoji);
}

body {
  color: var(--canvas-text);
  background-color: rgba(204, 204, 204, 0.2666666667);
  font-family: var(--sans-serif);
}
