:root {
  color-scheme: light dark;
  --canvas: #fff;
  --canvas-text: #444;
  --color-link: #429131;
  --emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
  --serif: Palatino, serif, var(--emoji);
  --sans-serif: "Segoe UI", "Yu Gothic Medium", system-ui, "HiraginoSans", sans-serif, var(--emoji);
  --monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace, var(--emoji);
}

/*@media
@media screen{} パソコンディスプレイで表示するとき
@media print {} 印刷で表示するとき*/

/*@font-face{
font-family: フォントを決める
src: 
font-weight: 
}*/
@font-face {
  font-family: "Hiragino Sans";
  src: local("Hiragino Sans");
  font-weight: normal;
}

/*疑似要素周りの設定*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

/*html {
box-sizing: ページ全体で統一的なレイアウトにするとき、全ての要素にbox-sizing: border-box;を適用
↑今回は::before, ::aftrでbox-sizingをinheritしている（継承している）ので、全てに適用される。変数みたいなもん
overflow-y：縦軸方向にスクロールバーを設置
-ms-text-size-adjust、-webkit-text-size-adjust：ユーザーがズームしてもテキストサイズが固定されたままなので、意図したデザインを維持できる
}*/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*body {
--canvas-textや--sans-serifは:rootで指定している。
}*/
body {
  color: var(--canvas-text);
  background-color: rgba(204, 204, 204, 0.2666666667);
  font-family: var(--sans-serif);
}

/*a{}は、a要素のデザインを指定。
a href等*/
a {
  color: var(--color-link);
  text-decoration: underline;
}

dl dd::before{
  content: "・";
  opacity: 0.25;
  position: absolute;
  left: -0.8em;
}

ul,
ol {
  padding-inline-start: 1.7rem;
}

li {
  margin-block: 0.2em;
}

body {
  color: var(--canvas-text);
  background-color: rgba(204, 204, 204, 0.2666666667);
  font-family: var(--sans-serif);
}

header {
  width: 100%;
}
header h1 {
  margin: 10px 6px;
  font-size: 1.2rem;
  font-weight: normal;
}
header a {
  color: inherit;
}
header .logo {
  max-width: 100%;
  height: auto;
  vertical-align: text-bottom;
  margin-right: 4px;
}

footer {
  width: 100%;
  color: rgba(136, 136, 136, 0.8);
  padding: 12px 4px;
  text-align: right;
}

main,
.menu,
#search-form {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.side-bar {
  width: 200px;
}

main {
  background-color: var(--canvas);
  max-width: calc(100% - 216px);
  width: 100%;
  padding: 24px;
}

article header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-block-end: 1rem;
}
article header h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
}
article h2 {
  font-size: 1.4rem;
  background: linear-gradient(to right, rgba(153, 153, 153, 0.2666666667), rgba(153, 153, 153, 0));
  margin-block: 1.2em 0.8em;
  padding: 0.4rem 0.7rem;
  font-weight: normal;
  position: relative;
}
article h2::before {
  position: absolute;
  top: 0.2rem;
  left: -1.1rem;
  line-height: 1.1em;
  font-size: 1.2rem;
  white-space: pre;
  color: rgba(136, 136, 136, 0.5333333333);
  content: "#\a#";
}
article header + h2 {
  margin-block-start: 1em;
}

@media (max-width: 650px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }
  .side-bar {
    width: 100%;
    margin: 12px 8px;
  }
  main {
    max-width: 100%;
  }
}

.menu {
  background-color: var(--canvas);
  padding: 0;
}
.menu ul {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-out;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}
.menu a {
  padding: 5px 13px;
  color: inherit;
  display: block;
}
.menu div {
  padding: 0;
}
.menu div > a {
  padding: 10px 6px;
  font-size: 1.1rem;
}

/*label要素の
display（表示）をブロック単位で
position（位置）を相対位置として適応
padding（要素の内側にスペース）
cursor: pointer（カーソルを指の形にする）*/
.menu label {
  display: block;
  position: relative;
  padding: 10px 6px;
  font-size: 1.1rem;
  cursor: pointer;
}
/*
content（メニュー開く）::afterの後ろに
position（位置）：絶対位置
*/
.menu label::after {
  content: "❯";
  position: absolute;
  right: 8px;
  color: rgba(136, 136, 136, 0.4);
  transition: all 0.2s ease-out;
}
.menu label.active::after {
  color: var(--color-link);
}
/*
.menu input {
  display: none;
}
*/
.menu input:checked + label + ul {
  max-height: 800px;
}
.menu input:checked + label::after {
  transform: rotate(90deg);
}
.menu li {
  background: rgba(204, 204, 204, 0.1254901961);
  margin: 0;
}
.menu div,
.menu label,
.menu li,
.menu label.active {
  border-bottom: 1px solid rgba(136, 136, 136, 0.4);
}
.menu .active {
  font-weight: bold;
  color: var(--color-link);
  border-color: var(--color-link);
}
.menu div:hover,
.menu label:hover,
.menu li:hover {
  filter: brightness(1.1);
  transform: scale(1.01);
}

/*
blockquoteは引用スタイルを指定*/
blockquote {
  margin: 8px 0;
  padding-block: 4px 1px;
  padding-inline: 24px 0;
  border-left: solid 2px rgba(136, 136, 136, 0.5333333333);
  position: relative;
}
blockquote::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 2.4rem;
  font-family: var(--serif);
  color: rgba(136, 136, 136, 0.8);
}

/*画面幅が650px以下の時
スマホなどで見るとき*/
@media (max-width: 650px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }
  .side-bar {
    width: 100%;
    margin: 12px 8px;
  }
  main {
    max-width: 100%;
  }
}